<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="cacheEnabled"        value="false" />
		<setting name="useGeneratedKeys"    value="false" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="callSettersOnNulls"  value="true"/>
		<setting name="cacheEnabled" 		value="false" />
        <setting name="jdbcTypeForNull" 	value="NULL" />
		<setting name="logImpl" 			value="LOG4J2"/>  <!-- log4j log setting  -->
	</settings>

	<typeAliases>
		<typeAlias type="apps.framework.object.CmMap"        alias="CmMap"        />
		<typeAlias type="apps.framework.object.CmResMap"     alias="CmResMap"     />		
	</typeAliases>

	<typeHandlers>
        <typeHandler handler="org.apache.ibatis.type.ClobTypeHandler" javaType="java.lang.String" jdbcType="CLOB" />
    </typeHandlers>
      
     <plugins>
    	<plugin interceptor="apps.framework.interceptor.MybatisLogInterceptor"/>
    	
	</plugins>
	
</configuration>
