<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d %-5p %C - %m%n"/>
    </Console>
  </Appenders>


  <Loggers>
    <Logger name="apps" level="debug"/>

    <Logger name="org.springframework.core" level="debug"/>

    <Logger name="org.springframework.beans" level="debug"/>

    <Logger name="org.springframework.context" level="debug"/>

    <Logger name="java.sql" level="debug"/>

    <Logger name="apps.framework.interceptor.MybatisLogInterceptor" level="debug"/>

    <Root level="warn">
      <AppenderRef ref="console"/>
    </Root>
  </Loggers>

</Configuration>

